/*  
Final project CSS file
*/
       


/*Primary color pallette:

#cda874, light brown for background
#7c851c, muted/less obnoxious green color


/* CSS Reset */
body, header, nav, main, footer, img, h1, ul {
	margin: 0;
	padding: 0;
	border: 0;
}

/* Style rule for images */
img {
	max-width: 100%;
	display: block;
}

body {
	background-color: #886236;
}

/*Style rules for mobile viewport*/




/*Hide tab-desk class*/

.tab-desk {
    display: none;
}

/*Mobile header content */
header {
	text-align: center;
	font-size: 1.5em;
	color: #e1d443;
	font-family: 'Lora';
}

header h1 {
	font-style: italic;
	font-weight: bold;
}


/*Nav color*/
nav {
	background-color: #7c851c;
}


/*Looked up "how to make inline block list elements evenly take up space on the screen html" 
on google, and learned a bit about flex containers from the ai overview.*/

nav ul {
	display: flex;
	justify-content: space-evenly;
	list-style-type: none;
	text-align: center;
}

nav li {
	display: block;
	flex: 1;
	font-size: 2em;
	border-top: 1px solid #e5e9fc;
	border-inline-end: 1px solid #e5e9fc;
	border-inline-start: 1px solid #e5e9fc;
}

nav li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.5em 1em;
	text-decoration: none;
}

/*Style rules for main content*/
main {
	padding: 2%;
	background-color: #cda874;
	overflow: auto;
	font-family: Verdana, Arial, sans-serif, Roboto;
}

main p {
	font-size: 2.5vw;
	font-family: 'Lora';
}
 
.action {
	font-size: 1.25em;
	color: #373684; 
	font-weight: bold;
}

.round {
	border-radius: 8px;
}

/*Style rules for the gallery page, to make the images appear nicely side by side*/

.gallery {
	display: flex;
	justify-content: space-around;
}

.gallery img {
	flex: 1;
	height: auto;
	width: 34vw;
	padding: 1% 1%;
}



/*Style rules for the invasive page to make the layout how I want*/

.invasive {
	display: flex;
	justify-content: space-around;
}

.invasive img {
	flex: 1;
	height: auto;
	width: 30vw;
	padding-top: 6%;
}

.invasive p {
	flex: 1;
	padding-top: 2.5%;
	padding-right: 2%;
}

.small_list {
	font-size: 2vw;
	font-family: 'Roboto';
	padding-left: 10%;
}

/*Looked up "how to make part of a sentence bold html css" on google.*/

.bold {
	font-weight: bold;
	font-size: 2.7vw;
}




/*Style rule for the index class, used to make the images in the main 
content in the index page the right size/like an inline block*/

.index {
	display: flex;
	justify-content: space-around;
}

.index img {
	flex: 1;
	display: block;
	height: auto;
	width: 30vw; 			/*looked up "how to make images scale up past their original size html" 
						to figure out how to scale a small image to be bigger*/
	padding-top: 10%;
}

.index li {
	list-style-type: none;
	display: block;
	flex: 1;
	font-size: 2.3vw;
	text-align: center;
	padding: 0 3% ;
	font-family: 'Lora';
}

.index a {
	text-decoration: none;
	color: #000;
}

.index li a:hover {
	color: #ffffff;
	background-color: #b08942;
}

/* Style rules for footer content */
footer {
    text-align: center;
    font-size: 0.65em;
    clear: left;  
	background-color: #886236;
	margin: 0;
}

footer a {
    color: #4645a8;
    text-decoration: none;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 550px), print {






/* Tablet Viewport: Show tab-desk class, hide mobile class */  

	.tab-desk {
	    display: block;
	} 
	.mobile {
	    display: none;  
	} 


	
/* Tablet Viewport: Style rule for header content */   

	span.tab-desk {
	    display: inline;
	}
/*Tablet Viewport: Style rules for nav area*/

	nav li {
		border-top: none;
		display: inline-block;
		font-size: 1.5em;
		border-right: 1px solid #e5e9fc;
	}

	nav li a {
		padding: 0.25em 0.5em;
	}

	nav li:last-child {
		border-right: none;
	}




/*Tablet Viewport: Style rule for map*/

	.map {
		width: 500px;
		height: 450px;
	}

}






 /*Media Query for Desktop Viewport*/

@media screen and (min-width: 769px), print {

/*Desktop Viewport: Style rule for header*/

	header {
		padding: 0%;
	}

/*Desktop Viewport: Style rules for nav area*/

	nav li a {
		padding: 0.5em 1.5em;
	}

	nav li a:hover {
		color: #7c851c;
		background-color: #e5e9fc;
	}

/*Desktop Viewport: Style rules for main content*/

	#info ul {
		margin-left: 5%;
	}

	main h3 {
		font-size: 1.5em;
	}

	#piano, #guitar, #violin {
		width: 29%;
		float: left;
		margin: 0 2%;
	}

}

/* Media Query for Print. */

@media print {

	body {
		background-color: #fff;
		color: #000;
	}

}